/docker-neo4j/db/

# Archivos de log
*.log

/docker-neo4j/backend/venv/

/docker-neo4j/import/Tokyo/

/extra/cities/

/docker-neo4j/backend/__pycache__/

/docker-neo4j/backend/src/__pycache__/

/tfg_graphtool.zip

/tfg_neo4j.zip
