/proyecto/db/

# Archivos de log
*.log

/proyeceto/backend/venv/

/proyecto/import/Tokyo/

/extra/cities/

/proyecto/backend/__pycache__/

/proyecto/backend/src/__pycache__/

/tfg_graphtool.zip

/tfg_neo4j.zip

/proyecto/backend/predictions/

*.zip

